<div class="d-flex flex-column">
  <span class="mst-staff-login__login-text mt-5"> Log In </span>
  <span class="mb-4"> Please enter your credentials below </span>
  <form>
    <div class="form-group">
      <label for=""> Username </label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group mt-2">
      <label for=""> Password </label>
      <input type="text" class="form-control" />
    </div>
  </form>
  <hr />
  <a class="btn btn-primary m-3"> Login </a>
  <hr />
  <a routerLink="/login/forgot" class="mst-staff-login__link mt-4">
    Forgot Password? Please click here.
  </a>
</div>
