<div class="mst-staff-login row">
  <div
    class="mst-staff-login__side-pic col-lg-8 col-md-7 d-md-block d-sm-none d-none"
  ></div>
  <div
    class="mst-staff-login__login-container col-lg-4 col-md-5 col-sm-12 ps-5 pt-5 pe-5 pb-1"
  >
    <div class="d-flex flex-column">
      <img
        class="mst-staff-login__app-logo-1 mt-4 mb-3"
        src="assets/images/auditmacs-logo.png"
        alt="Auditmacs Logo"
      />
      <router-outlet></router-outlet>
    </div>

    <div class="mst-staff-login__footer">
      <span class="ps-2 d-block">
        Powered by Auditmacs © 2021. Version 21.1.22.29
      </span>
    </div>
  </div>
</div>
