@import '../theme-config.scss';

.ng-invalid.ng-touched {
  border-color: $danger !important;
}

.error-label {
  color: $danger;
  font-size: 11px;
}

.input-group-prepend {
  * {
    border-radius: 0 !important;
  }
}
