<div class="d-flex flex-column">
  <span class="mst-staff-login__login-text mt-5"> Forgot Password </span>
  <div
    class="d-flex align-items-center justify-content-between mt-3 position-relative"
  >
    <div class="mst-staff-login__step-line"></div>
    <div class="mst-staff-login__step-item">
      <div
        class="mst-staff-login__step"
        [class.mst-staff-login__step--active]="step === 1"
      >
        1
      </div>
      <span> Identify </span>
    </div>
    <div class="mst-staff-login__step-item">
      <div
        class="mst-staff-login__step"
        [class.mst-staff-login__step--active]="step === 2"
      >
        2
      </div>
      <span> Verify </span>
    </div>
    <div class="mst-staff-login__step-item">
      <div
        class="mst-staff-login__step"
        [class.mst-staff-login__step--active]="step === 3"
      >
        3
      </div>
      <span> Reset </span>
    </div>
  </div>

  <form *ngIf="step === 1" class="mt-4 animate__animated animate__slideInRight">
    <div class="form-group">
      <label for=""> Username </label>
      <input type="text" class="form-control" />
    </div>
    <div class="d-flex justify-content-end mt-4">
      <a class="btn btn-primary" (click)="step = 2"> Next </a>
    </div>
  </form>

  <form *ngIf="step === 2" class="mt-4 animate__animated animate__slideInRight">
    <div class="alert alert-danger" role="alert">
      Email not found in the system
    </div>
    <div class="form-group d-flex flex-column">
      <label><b>Personal Identification</b></label>
      <label for="" class="mt-2"> Email </label>
      <input type="text" class="form-control" />
    </div>
    <div class="d-flex justify-content-end mt-4">
      <a class="btn btn-primary" (click)="step = 3"> Next </a>
    </div>
  </form>

  <form *ngIf="step === 3" class="mt-4 animate__animated animate__slideInRight">
    <div class="form-group d-flex flex-column">
      <label><b>Create a new password</b></label>
      <label for="" class="mt-2"> Password </label>
      <input type="password" class="form-control" />
    </div>
    <div class="form-group d-flex flex-column mt-2">
      <label for=""> Confirm password </label>
      <input type="password" class="form-control" />
      <div class="d-flex">
        <small class="error-label">Passwords must match</small>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <a class="btn btn-primary" (click)="resetPassword()"> Reset Password </a>
    </div>
  </form>
</div>
