<div class="modal-header">
  <span class="modal-title pull-left">Add Attachments</span>
  <button
    type="button"
    class="close pull-right btn btn-default"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="mst-import" (click)="fileInput.click()">
    <input
      type="file"
      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      hidden
      (change)="onFileUpload($event)"
      #fileInput
    />

    <div
      *ngIf="!uploadedFile"
      class="d-flex align-items-center justify-content-center"
    >
      <i class="fas fa-cloud-upload-alt me-2"></i>
      <span>Click here to upload attachment</span>
    </div>

    <div
      *ngIf="uploadedFile"
      class="d-flex align-items-center justify-content-center"
    >
      <i class="fas fa-file-csv me-2"></i>
      <span>{{ uploadedFile.name }}</span>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <div class="d-flex">
      <div (click)="bsModalRef.hide()" class="btn btn-sm btn-default me-2">
        Cancel
      </div>
      <button
        (click)="upload()"
        [disabled]="isUploading || !uploadedFile"
        class="btn btn-sm btn-primary"
      >
        <i *ngIf="isUploading" class="fa fa-spin fa-spinner me-2"></i>
        Upload
      </button>
    </div>
  </div>
</div>
